* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.header1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 3;
}

.header2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 1 / 3;
}

.header2-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header2-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.sidebar {
    background-color: lightblue;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
}

.main-content {
    background-color: rgb(226, 222, 222);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr repeat(3, 5fr);
}

.projects > p {
    grid-column: 1 / 3;
}

.card {
    max-width: 200px;
    max-height: 200px;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}